---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-data
spec:
  storageClassName: tns-csi-iscsi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
