---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-data
spec:
  storageClassName: ceph-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-data-temp
spec:
  storageClassName: ceph-blockpool
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
