---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: downloads-data
spec:
  storageClassName: shared-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2000Gi
