---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: downloads-data
spec:
  storageClassName: ceph-filesystem
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 4000Gi
