---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./admin-secret.yaml
  - ./auth-cluster-secrets.yaml
  - ./auth-db-secrets.yaml