---
# yaml-language-server: $schema=https://schemas.gallay.io/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: composed-secret
spec:
  refreshInterval: 1m
  target:
    creationPolicy: Owner
    deletionPolicy: Delete
    name: composed-secret
    template:
      engineVersion: v2
  data:
    - secretKey: DB_HOSTNAME
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: host
    - secretKey: DB_USERNAME
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: username
    - secretKey: DB_PASSWORD
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: password
    - secretKey: DB_DATABASE_NAME
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: dbname
    - secretKey: DB_PORT
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: port
    - secretKey: INIT_POSTGRES_DBNAME
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: dbname
    - secretKey: INIT_POSTGRES_HOST
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: host
    - secretKey: INIT_POSTGRES_USER
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: username
    - secretKey: INIT_POSTGRES_PASS
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-database-app
        property: password
    - secretKey: INIT_POSTGRES_SUPER_PASS
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-secrets
        property: POSTGRES_SUPER_PASS
    - secretKey: REDIS_PASSWORD
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: dragonfly-access
        property: password
    - secretKey: REDIS_HOSTNAME
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-configuration
        property: REDIS_HOSTNAME
    - secretKey: REDIS_PORT
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-configuration
        property: REDIS_PORT
    - secretKey: REDIS_DBINDEX
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-configuration
        property: REDIS_DBINDEX
    - secretKey: immich-config.yaml
      sourceRef:
        storeRef:
          name: immich-k8s-local-store
          kind: SecretStore
      remoteRef:
        key: immich-secrets
        property: immich-config.yaml