---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.35.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: immich-configuration
stringData:
  # JWT_SECRET: "{{ .IMMICH_JWT_SECRET }}"

  # Dragonfly
  REDIS_HOSTNAME: dragonfly-cluster.immich.svc.cluster.local
  REDIS_PORT: "6379"
  REDIS_DBINDEX: "3"

  # # OIDC
  # OIDC_CLIENT_ID: "{{ .IMMICH_OAUTH_CLIENT_ID }}"
  # OIDC_CLIENT_SECRET: "{{ .IMMICH_OAUTH_CLIENT_SECRET }}"
  # # SMTP
  # SMTP_SERVER: "{{ .SMTP_SERVER }}"
  # SMTP_PORT: "{{ .SMTP_PORT }}"
  # SMTP_USERNAME: "{{ .SMTP_USERNAME }}"
  # SMTP_PASSWORD: "{{ .SMTP_PASSWORD }}"

  immich-config.yaml: |
    backup:
      database:
        cronExpression: "0 02 * * *"
        enabled: true
        keepLastAmount: 14

    ffmpeg:
      crf: "23"
      threads: "2"
      preset: veryfast
      targetVideoCodec: hevc
      acceptedVideoCodecs: [h264, hevc]
      targetAudioCodec: aac
      acceptedAudioCodecs: [aac, mp3]
      targetResolution: "720"
      maxBitrate: "0"
      bframes: "-1"
      refs: "0"
      gopSize: "0"
      temporalAQ: false
      cqMode: auto
      twoPass: false
      preferredHwDevice: auto
      transcode: required
      accelDecode: true
      tonemap: hable
      accel: qsv

    job:
      backgroundTask:
        concurrency: "5"
      smartSearch:
        concurrency: "2"
      metadataExtraction:
        concurrency: "5"
      faceDetection:
        concurrency: "2"
      search:
        concurrency: "5"
      sidecar:
        concurrency: "5"
      library:
        concurrency: "5"
      migration:
        concurrency: "5"
      thumbnailGeneration:
        concurrency: "5"
      videoConversion:
        concurrency: "1"
      notifications:
        concurrency: "5"

    logging:
      enabled: true
      level: debug

    machineLearning:
      enabled: true
      urls: [http://immich-machine-learning.immich.svc.cluster.local:3003]
      clip:
        enabled: true
        modelName: ViT-B-16-SigLIP__webli
      facialRecognition:
        enabled: true
        modelName: buffalo_l
        minScore: "0.7"
        maxDistance: "0.5"
        minFaces: "5"

    map:
      enabled: true

    reverseGeocoding:
      enabled: true

    oauth:
      enabled: true
      autoLaunch: true
      autoRegister: true
      buttonText: Login
      clientId: "${CLIENT_ID}"
      clientSecret: "${CLIENT_SECRET}"
      # defaultStorageQuota: "0"
      issuerUrl: https://auth.${SECRET_DOMAIN}/application/o/immich/.well-known/openid-configuration
      mobileOverrideEnabled: false
      mobileRedirectUri: ""
      scope: openid email profile
      signingAlgorithm: RS256
      # storageLabelClaim: preferred_username
      # storageQuotaClaim: immich_quota

    passwordLogin:
      enabled: false

    storageTemplate:
      enabled: true
      hashVerificationEnabled: true
      template: "{{`{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}`}}"

    image:
      thumbnail:
        format: webp
        size: "480"
        quality: "80"
      preview:
        format: jpeg
        size: "1440"
        quality: "80"
      colorspace: p3
      extractEmbedded: false

    newVersionCheck:
      enabled: false

    trash:
      enabled: true
      days: "7"

    theme:
      customCss: ""

    library:
      scan:
        enabled: true
        cronExpression: "0 0 * * *"
      watch:
        enabled: false

    server:
      externalDomain: https://photos.${SECRET_DOMAIN}
      loginPageMessage: ""

    notifications:
      smtp:
        enabled: true
        from: "Photos <noreply@${SECRET_DOMAIN}>"
        replyTo: ""
        transport:
          ignoreCert: false
          host: "${SMTP_SERVER}"
          port: "${SMTP_PORT}"
          username: "${SMTP_USERNAME}"
          password: "${SMTP_PASSWORD}"

    user:
      deleteDelay: "2"
