# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ${APP}
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            runAsNonRoot: true
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: OnRootMismatch
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v1.16.0
            env:
              TZ: "Europe/Budapest"
              ANALYTICS_DISABLED: true
              APP_URL: https://auth.${SECRET_DOMAIN}
              DB_CONNECTION_STRING_FILE: /var/secrets/db/connection-string
              ENCRYPTION_KEY_FILE: /var/secrets/encryption/key
              # INTERNAL_APP_URL: ${APP}.auth.svc.cluster.local
              LOG_JSON: true
              PORT: &port 1411
              PGID: ${APP_GID}
              PUID: ${APP_UID}
              TRUST_PROXY: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
    route:
      app:
        hostnames: ["auth.${SECRET_DOMAIN}"]
        parentRefs:
          # - name: external
          #   namespace: kube-system
          #   sectionName: https
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    # yaml-language-server: $schema=https://github.com/bjw-s-labs/helm-charts/raw/9eb6d448787f8a83e500d20c62b7a22e9dacbc67/charts/library/common/values.schema.json
    persistence:
      db-connection-string:
        enabled: true
        type: secret
        name: postgres-app
        items:
          - key: fqdn-uri
            path: connection-string
        advancedMounts:
          app:
            app:
              - path: /var/secrets/db
      encryption-key:
        enabled: true
        type: secret
        name: auth-cluster-secrets
        items:
          - key: SECRET_KEY
            path: key
        advancedMounts:
          app:
            app:
              - path: /var/secrets/encryption
      app-data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-dynamic
        advancedMounts:
          app:
            app:
              - path: /app/data
                readOnly: false