# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    controllers:
      main:
        replicas: ${REPLICAS}
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            securityContext:
              privileged: true
            image:
              repository: ghcr.io/linuxserver/tautulli
              tag: 2.16.0
              pullPolicy: Always
            env:
              TZ: "Europe/Budapest"
              ADVERTISE_IP: "https://${APP}:443,https://${APP}.${SECRET_DOMAIN}:443"
              ALLOWED_NETWORKS: "192.168.0.0/24"
              PUID: ${APP_UID}
              PGID: ${APP_GID}
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                memory: 10Gi
    service:
      main:
        type: LoadBalancer
        ports:
          http:
            port: &port 8181
            protocol: TCP
    route:
      internal:
        hostnames: ["${APP}", "${APP}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: tautulli
        globalMounts:
          - path: /config
