---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  values:
    controllers:
      publish-k8s-schemas:
        type: cronjob
        cronjob:
          backoffLimit: 0
          concurrencyPolicy: "Replace"
          failedJobsHistory: 6
          schedule: "0 */4 * * *"
          successfulJobsHistory: 6
        pod:
          securityContext:
            runAsGroup: ${APP_GID}
            runAsNonRoot: true
            runAsUser: ${APP_UID}
        initContainers:
          generate-schemas:
            image:
              repository: ghcr.io/bjw-s-labs/k8s-crd-extractor
              tag: 2025.12.22@sha256:176cc556053abba6fda83eeb398531cd33c3092553cab8a49a736f68972c057b
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        containers:
          app:
            image:
              repository: alpine
              tag: "3.19"
            command:
              - /bin/sh
            args:
              - -c
              - "rm -rf /schemas-out/* 2>/dev/null; cp -a /data/crdSchemas/. /schemas-out/"
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
      k8s-schemas-server:
        strategy: RollingUpdate
        containers:
          k8s-schemas-server:
            image:
              repository: nginx
              tag: alpine
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 128Mi
            securityContext:
              # allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              # capabilities:
              #   drop:
              #     - ALL
    service:
      k8s-schemas-server:
        enabled: true
        controller: k8s-schemas-server
        type: LoadBalancer
        ports:
          http:
            port: 80
            protocol: TCP
    route:
      k8s-schemas-server:
        hostnames: ["schemas.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
          # - name: external
          #   namespace: kube-system
          #   sectionName: https
        rules:
          - backendRefs:
              - identifier: k8s-schemas-server
                port: 80
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          publish-k8s-schemas:
            generate-schemas:
              - path: /config/.datree
                subPath: data
              - path: /tmp
                subPath: tmp
            app:
              - path: /config
                subPath: config
              - path: /data
                subPath: data
      schemas:
        type: persistentVolumeClaim
        existingClaim: k8s-schemas
        advancedMounts:
          publish-k8s-schemas:
            app:
              - path: /schemas-out
          k8s-schemas-server:
            k8s-schemas-server:
              - path: /usr/share/nginx/html
                readOnly: true
    serviceAccount:
      publish-k8s-schemas: {}
    rbac:
      roles:
        publish-k8s-schemas:
          type: ClusterRole
          rules:
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions
                - customresourcedefinitions/status
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - apiregistration.k8s.io
              resources:
                - apiservices
                - apiservices/status
              verbs:
                - get
                - list
                - watch
      bindings:
        publish-k8s-schemas:
          type: ClusterRoleBinding
          roleRef:
            identifier: publish-k8s-schemas
          subjects:
            - identifier: publish-k8s-schemas
