---
apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-schemas-nginx-config
  namespace: jobs
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }
    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
        sendfile      on;
        keepalive_timeout 65;
        server {
            listen 80;
            server_name localhost;
            root /usr/share/nginx/html;
            location / {
                autoindex on;
                autoindex_exact_size off;
                autoindex_localtime on;
            }
        }
    }
