---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-data
spec:
  storageClassName: ceph-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-data-temp
spec:
  storageClassName: ceph-block-pool-fast
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
