# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ${APP}
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: ${REPLICAS}
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/qbittorrent
              tag: 5.1.4
            env:
              TZ: "Europe/Budapest"
              PUID: ${APP_UID}
              PGID: ${APP_GID}
              WEBUI_PORT: &webPort 8080
              TORRENTING_PORT: &peerPort 54149
            ports:
              - protocol: UDP
                containerPort: *peerPort
                hostPort: *peerPort
              - protocol: TCP
                containerPort: *peerPort
                hostPort: *peerPort
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: 192.168.2.1
        ports:
          http:
            port: *webPort
            protocol: TCP
          tcp:
            port: *peerPort
            protocol: TCP
            targetPort: *peerPort
          udp:
            port: *peerPort
            protocol: UDP
            targetPort: *peerPort
    route:
      internal:
        hostnames: ["${APP}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs: [{}]
      external:
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: torrent-tcp
          - name: external
            namespace: kube-system
            sectionName: torrent-udp
        rules:
          - backendRefs: [{}]
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: qbittorrent
        advancedMounts:
          main:
            main:
              - path: /config
                readOnly: false
      downloads:
        type: persistentVolumeClaim
        existingClaim: downloads
        advancedMounts:
          main:
            main:
              - path: /downloads
                readOnly: false
