---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
data:
  configuration.yml: |
    ---
    authentication_backend:
      password_reset:
        disable: false
      refresh_interval: 5m

    session:
      same_site: lax
      inactivity: 5m
      expiration: 1h
      remember_me: 1M
      cookies:
        - name: authelia_session
          domain: ${SECRET_DOMAIN}
          authelia_url: https://auth.${SECRET_DOMAIN}
          default_redirection_url: https://${SECRET_DOMAIN}
      redis:
        host: dragonfly-cluster
        port: 6379
        password: ${DRAGONFLY_PASS}
        database_index: 0
        key_prefix: "authelia_session:"

    storage:
      encryption_key: ${AUTHELIA_STORAGE_ENCRYPTION_KEY}
      postgres:
        timeout: 5s
        address: tcp://postgres-rw:5432
        database: ${AUTHELIA_DATABASE}
        username: ${AUTHELIA_USER}
        password: ${AUTHELIA_PASS}

    notifier:
      disable_startup_check: false
      smtp:
        timeout: 5s
        disable_require_tls: false
        disable_html_emails: false

    access_control:
      default_policy: deny
      networks:
        - name: internal
          networks:
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
      rules:
        - domain:
            - auth.${SECRET_DOMAIN}
          policy: bypass

    identity_providers:
      oidc:
        cors:
          endpoints:
            - authorization
            - token
            - revocation
            - introspection
            - userinfo
          allowed_origins_from_client_redirect_uris: true
        clients: []
