---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
data:
  configuration.yml: |
    ---
    authentication_backend:
      password_reset:
        disable: false
      refresh_interval: 5m
      ldap:
        implementation: custom
        timeout: 5s
        start_tls: false
        additional_users_dn: ou=users
        users_filter: (&({username_attribute}={input})(objectClass=person))
        additional_groups_dn: ou=groups
        groups_filter: (member={dn})
        group_name_attribute: cn
        username_attribute: uid
        mail_attribute: mail
        display_name_attribute: displayName

    session:
      same_site: lax
      inactivity: 5m
      expiration: 1h
      remember_me: 1M
      cookies:
        - name: authelia_session
          domain: ${SECRET_DOMAIN}
          authelia_url: https://auth.${SECRET_DOMAIN}
          default_redirection_url: https://${SECRET_DOMAIN}

    storage:
      encryption_key: ${AUTHELIA_STORAGE_ENCRYPTION_KEY}
      postgres:
        timeout: 5s
        address: tcp://postgres.auth.svc.cluster.local:5432
        database: authelia
        username: authelia
        password: ${AUTHELIA_POSTGRES_PASSWORD}

    notifier:
      disable_startup_check: false
      smtp:
        timeout: 5s
        disable_require_tls: false
        disable_html_emails: false

    access_control:
      default_policy: deny
      networks:
        - name: internal
          networks:
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
      rules:
        - domain:
            - auth.${SECRET_DOMAIN}
          policy: bypass

    identity_providers:
      oidc:
        cors:
          endpoints:
            - authorization
            - token
            - revocation
            - introspection
            - userinfo
          allowed_origins_from_client_redirect_uris: true
        clients: []
