---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
data:
  configuration.yml: |
    ---
    ###############################################################
    #                   Authelia configuration                    #
    ###############################################################

    server:
      address: 'tcp://:9091'

    log:
      level: 'debug'

    totp:
      issuer: 'gallay.hu'

    identity_validation:
      reset_password:
        jwt_secret: 'a_very_important_secret'

    authentication_backend:
      file:
        path: '/config/users_database.yml'

    access_control:
      default_policy: 'deny'
      rules:
        # Rules applied to everyone
        - domain: 'public.gallay.hu'
          policy: 'bypass'
        - domain: 'traefik.gallay.hu'
          policy: 'one_factor'
        - domain: 'secure.gallay.hu'
          policy: 'two_factor'

    session:
      # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
      secret: 'insecure_session_secret'
      same_site: lax
      inactivity: 5m
      expiration: 1h
      remember_me: 1M
      cookies:
        - name: authelia_session
          domain: ${SECRET_DOMAIN}
          authelia_url: https://auth.${SECRET_DOMAIN}
          default_redirection_url: https://${SECRET_DOMAIN}
          expiration: '1 hour'
          inactivity: '5 minutes'
      redis:
        host: dragonfly-cluster
        port: 6379
        password: ${DRAGONFLY_PASS}
        database_index: 0
        key_prefix: "authelia_session:"

    regulation:
      max_retries: 3
      find_time: '2 minutes'
      ban_time: '5 minutes'

    storage:
      encryption_key: ${AUTHELIA_STORAGE_ENCRYPTION_KEY}-secret
      postgres:
        timeout: 5s
        address: tcp://postgres-rw:5432
        database: ${AUTHELIA_DATABASE}
        username: ${AUTHELIA_USER}
        password: ${AUTHELIA_PASS}
    notifier:
      filesystem:
        filename: '/config/notification.txt'
    access_control:
      default_policy: deny
      networks:
        - name: internal
          networks:
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
      rules:
        - domain:
            - auth.${SECRET_DOMAIN}
          policy: bypass

    identity_providers:
      oidc:
        cors:
          endpoints:
            - authorization
            - token
            - revocation
            - introspection
            - userinfo
          allowed_origins_from_client_redirect_uris: true
        clients: []
