---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dbms
components:
  - ../../components/common
resources:
  - ./secrets/ks.yaml
  - ./database/ks.yaml
  - ./app/ks.yaml
