---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &appName immich
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  values:
    controllers:
      server:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret composed-secrets
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *secret
        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: *appName
                  app.kubernetes.io/controller: server
        containers:
          server:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            envFrom:
              - secretRef:
                  name: *secret
            env:
              IMMICH_CONFIG_FILE: /config/immich-config.yaml
              IMMICH_WORKERS_INCLUDE: api
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 2000Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: &serverPort 2283
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
      microservices:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: *secret
        pod:
          nodeSelector:
            nvidia.feature.node.kubernetes.io/gpu: "true"
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 44
              - 105
              - 109
              - 10000
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: *appName
                  app.kubernetes.io/controller: microservices
        containers:
          microservices:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            envFrom:
              - secretRef:
                  name: *secret
            env:
              IMMICH_CONFIG_FILE: /config/immich-config.yaml
              IMMICH_WORKERS_EXCLUDE: api
              NVIDIA_VISIBLE_DEVICES: "all"
              NVIDIA_DRIVER_CAPABILITIES: "all"
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 2500Mi
      machine-learning:
        strategy: RollingUpdate
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: *appName
                  app.kubernetes.io/controller: machine-learning
        containers:
          machine-learning:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
            env:
              MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL: ViT-B-16-SigLIP__webli
              MACHINE_LEARNING_PRELOAD__CLIP__VISUAL: ViT-B-16-SigLIP__webli
              MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__RECOGNITION: buffalo_l
              MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__DETECTION: buffalo_l
              MPLCONFIGDIR: /cache/matplotlib
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 4000Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &mlPort 3003
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
    service:
      server:
        controller: server
        ports:
          http:
            port: *serverPort
          metrics:
            port: 8081
      microservices:
        controller: microservices
        ports:
          metrics:
            port: 8081
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: *mlPort

    route:
      app:
        hostnames: ["${APP}", "${APP}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: server
                port: *serverPort
    persistence:
      config:
        type: secret
        name: *secret
        advancedMounts:
          server:
            server:
              - path: /config/immich-config.yaml
                subPath: IMMICH_CONFIG
          microservices:
            microservices:
              - path: /config/immich-config.yaml
                subPath: IMMICH_CONFIG
      library:
        type: persistentVolumeClaim
        existingClaim: family-photos
        advancedMounts:
          server:
            server:
              - path: /data
          microservices:
            microservices:
              - path: /data
      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            server:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding-dump
              - path: /usr/src/app/.transformers_cache
                subPath: transformers-cache
          microservices:
            microservices:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding-dump
              - path: /usr/src/app/node_modules/local-reverse-geocoder/geonames_dump
                subPath: geonames
              - path: /usr/src/app/.transformers_cache
                subPath: transformers-cache
          machine-learning:
            machine-learning:
              - path: /config/matplotlib
      model-cache:
        type: persistentVolumeClaim
        existingClaim: mlcache
        advancedMounts:
          machine-learning:
            machine-learning:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
