# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 0
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/eclipse-mosquitto
              tag: 2.0.22
            env:
              TZ: "Europe/Budapest"
    service:
      main:
        type: LoadBalancer
        ports:
          http:
            port: 1883
            protocol: TCP
    persistence:
      mosquitto:
        type: persistentVolumeClaim
        existingClaim: mosquitto
        advancedMounts:
          main:
            main:
              - path: /mosquitto
                readOnly: false
