---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-data
spec:
  storageClassName: ceph-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant
spec:
  storageClassName: ceph-block-pool-fast
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi

