---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-data
spec:
  storageClassName: ceph-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
