# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ${APP}
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    controllers:
      main:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: feature.node.kubernetes.io/amd-gpu
                        operator: In
                        values:
                          - "true"
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - emby
                  topologyKey: kubernetes.io/hostname
              preferredDuringSchedulingIgnoredDuringExecution:
                - podAffinityTerm:
                    topologyKey: kubernetes.io/hostname
                    labelSelector:
                      matchLabels:
                        app.kubernetes.io/name: plex
                  weight: 100
        containers:
          main:
            securityContext:
              privileged: true
            image:
              repository: ghcr.io/linuxserver/plex
              tag: 1.42.2
              pullPolicy: Always
            env:
              TZ: "Europe/Budapest"
              ADVERTISE_IP: "https://${APP}:443,https://${APP}.${SECRET_DOMAIN}:443"
              ALLOWED_NETWORKS: "192.168.0.0/24"
              PUID: ${APP_UID}
              PGID: ${APP_GID}
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                memory: 10Gi
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: 192.168.2.2
        ports:
          http:
            port: &port 32400
            protocol: TCP
    route:
      internal:
        hostnames: ["${APP}", "${APP}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port
    persistence:
      dri:
        type: hostPath
        hostPath: /dev/dri
        globalMounts:
          - path: /dev/dri
      config:
        type: persistentVolumeClaim
        existingClaim: plex-data
        globalMounts:
          - path: /config
      movies:
        type: persistentVolumeClaim
        existingClaim: movies
        advancedMounts:
          main:
            main:
              - path: /movies
                readOnly: true
      tv:
        type: persistentVolumeClaim
        existingClaim: tv
        advancedMounts:
          main:
            main:
              - path: /tv
                readOnly: true
      kids-movies:
        type: persistentVolumeClaim
        existingClaim: kids-movies
        advancedMounts:
          main:
            main:
              - path: /mnt/Gyerek/Filmek
                readOnly: true
      kids-tv:
        type: persistentVolumeClaim
        existingClaim: kids-tv
        advancedMounts:
          main:
            main:
              - path: /mnt/Gyerek/Sorozatok
                readOnly: true
      music-video:
        type: persistentVolumeClaim
        existingClaim: music-video
        advancedMounts:
          main:
            main:
              - path: /music/video
                readOnly: true
      music-sound:
        type: persistentVolumeClaim
        existingClaim: music-sound
        advancedMounts:
          main:
            main:
              - path: /music/sound
                readOnly: true
      family-pomaz:
        type: persistentVolumeClaim
        existingClaim: family-pomaz
        advancedMounts:
          main:
            main:
              - path: /media/disk_a/Family/Videos/Pomaz
                readOnly: true
      logs:
        type: emptyDir
        advancedMounts:
          main:
            main:
              - path: /config/Library/Application Support/Plex Media Server/Logs
      plex-cache:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
