---
# yaml-language-server: $schema=https://schemas.gallay.io/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-database
  labels:
    app.kubernetes.io/name: immich-database
spec:
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:18.0-0.5.3@sha256:267f6cbb32af6e109e138a143c7e9dd5d44d68433ec2303f0c30e745c788d1a9
  instances: 3
  primaryUpdateStrategy: supervised
  storage:
    size: 25Gi
    storageClass: iscsi
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required
    nodeSelector:
      kubernetes.io/arch: amd64
  enableSuperuserAccess: true
  superuserSecret:
    name: postgres-superuser
  backup:
    retentionPolicy: 7d
    volumeSnapshot:
      labels:
        app.kubernetes.io/name: immich-database-backup
      online: true
      onlineConfiguration:
        waitForArchive: true
      className: iscsi
      walClassName: iscsi
  managed:
    services:
      additional:
        # create a stub service for gatus to monitor
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: postgres
              annotations:
                gatus.home-operations.com/endpoint: |-
                  group: services
                  interval: 15s
                  conditions:
                    - "[CONNECTED] == true"
  bootstrap:
    initdb:
      postInitSQL:
        - CREATE EXTENSION vchord CASCADE;
        - CREATE EXTENSION earthdistance CASCADE;
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: 1GB
      effective_cache_size: 1500MB
      work_mem: 8MB
      maintenance_work_mem: 256MB
      autovacuum_work_mem: 128MB
      autovacuum_max_workers: "3"
      autovacuum_naptime: 30s
      autovacuum_vacuum_cost_limit: "800"
      autovacuum_vacuum_scale_factor: "0.1"
      checkpoint_timeout: 15min
      max_wal_size: 4GB
      min_wal_size: 1GB
      wal_compression: zstd
      random_page_cost: "1.3"
      default_statistics_target: "200"
      effective_io_concurrency: "200"
      max_parallel_workers: "4"
      max_parallel_workers_per_gather: "4"
      max_parallel_maintenance_workers: "4"
      hot_standby_feedback: "on"
      huge_pages: "off"
      # Aumentar timeouts para evitar reinicios por problemas de red temporales
      wal_sender_timeout: 60s
      wal_receiver_timeout: 60s
    shared_preload_libraries:
      - vchord.so

  monitoring:
    enablePodMonitor: true