---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system
components:
  - ../../components/common
resources:
  - ./democratic-csi/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./snapshot-controller/ks.yaml