---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: qui
spec:
  storageClassName: qui
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: nas.${SECRET_DOMAIN}
    path: "/mnt/data/services/media/qui"
  mountOptions:
    - vers=4.2
    - rsize=1048576
    - wsize=1048576
    - async
    - noatime
    - nodiratime
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qui
spec:
  storageClassName: qui
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
