# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ${APP}
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            runAsNonRoot: true
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: OnRootMismatch
        containers:
          main:
            image:
              repository: quay.io/keycloak/keycloak
              tag: 26.4.6
            # command: /opt/keycloak/bin/kc.sh start --optimized --hostname http://0.0.0.0:8080
            env:
              KC_HEALTH_ENABLED: "true"
              KC_METRICS_ENABLED: "true"
              KC_DB: postgres
              KC_DB_URL_HOST:
                secretKeyRef:
                  name: postgres-app
                  key: host
              KC_DB_URL_PORT:
                secretKeyRef:
                  name: postgres-app
                  key: port
              KC_DB_USERNAME:
                secretKeyRef:
                  name: postgres-app
                  key: username
              KC_DB_PASSWORD:
                secretKeyRef:
                  name: postgres-app
                  key: password
              KEYCLOAK_ADMIN:
                secretKeyRef:
                  name: admin-secret
                  key: ADMIN_EMAIL
              KEYCLOAK_ADMIN_PASSWORD:
                secretKeyRef:
                  name: admin-secret
                  key: ADMIN_PASSWORD
              KC_HOSTNAME: ${APP}.${SECRET_DOMAIN}
              KC_HTTP_RELATIVE_PATH: /
              KC_PROXY: edge
    service:
      main:
        type: LoadBalancer
        ports:
          http:
            port: 8080
            protocol: TCP
    route:
      internal:
        hostnames: ["${APP}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs: [{}]
    # persistence:
    #   config:
    #     type: persistentVolumeClaim
    #     existingClaim: jackett
    #     advancedMounts:
    #       main:
    #         main:
    #           - path: /config
    #             readOnly: false

