# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
spec:
  interval: 1h
  chart:
    spec:
      chart: authentik
      reconcileStrategy: ChartVersion
      version: "2025.10"
      sourceRef:
        kind: HelmRepository
        name: ${APP}
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      env:
        AUTHENTIK_POSTGRESQL__DATABASE:
          secretKeyRef:
            name: postgres-app
            key: database
        AUTHENTIK_POSTGRESQL__HOST:
          secretKeyRef:
            name: postgres-app
            key: host
        AUTHENTIK_POSTGRESQL__PASSWORD:
          secretKeyRef:
            name: postgres-app
            key: password
        AUTHENTIK_POSTGRESQL__PORT:
          secretKeyRef:
            name: postgres-app
            key: port
        AUTHENTIK_POSTGRESQL__USERNAME:
          secretKeyRef:
            name: postgres-app
            key: username
    authentik:
      secret_key: "${SECRET_KEY}"
      # This sends anonymous usage-data, stack traces on errors and
      # performance data to authentik.error-reporting.a7k.io, and is fully opt-in
      error_reporting:
        enabled: false
      postgresql:
        enabled: true
    server:
      replicas: 1
      service:
        type: LoadBalancer
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      route:
        main:
          enabled: true
          hostnames: ["auth.${SECRET_DOMAIN}"]
          parentRefs:
            - name: internal
              namespace: kube-system
              sectionName: https
            # - name: external
            #   namespace: kube-system
            #   sectionName: https
          rules:
            - backendRefs: [{}]
      volumes:
        - name: postgres-creds
          secret:
            secretName: postgres-app
      volumeMounts:
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true
    workers:
      replicas: 1
      volumes:
        - name: postgres-creds
          secret:
            secretName: postgres-app
      volumeMounts:
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true